@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color: #000;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.btn-text {
  color: #00f5a0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

/* Header */

.header {
  width: 100%;
  min-height: 700px;
  margin-bottom: 104px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  padding: 0 0 0 45px;
  margin-bottom: 140px;
  border-bottom: 1px solid #fff;
}

.logo {
  display: block;
}

.logo img {
  width: 120px;
}

.menu {
  display: flex;
}

.menu__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 90px;
  border-left: 1px solid #fff;
  text-decoration: none;
}

.menu__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 90px;
  border-left: 1px solid #fff;
}

.hamburger {
  display: block;
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger__line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.main {
    position: relative;
}

.main__title {
  display: flex;
  margin-bottom: 64px;
}

.main__title-static {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: white;
  white-space: nowrap;
}

.main__title-static .green {
  color:#00F5A0;
}

.main__title-animation {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  overflow: hidden;
  color: white;
  border-right: 2px solid #00F5A0;
  animation: animate 2.5s infinite linear;
}

.main__text {
  height: 116px;
  margin-right:-180px;
  margin-left:-180px;
  overflow: hidden;
  margin-bottom: 92px;
}

.main__text-animation {
  display: flex;
  width: 280%;
  animation: marquee-infinite 7s linear infinite;
}

.main__text p {
  font-family: sans-serif;
  white-space: nowrap;
  width: 100%;
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  word-spacing: 96px;
  -webkit-text-stroke: 2px white;
}

.main__info {
  position: relative;
  width: 580px;
  margin-bottom: 122px;
}

.starlet {
  position: absolute;
  left: -40px;
  top: 315px;
  color: #00F5A0;
  font-size: 128px;
  line-height: 155px;
  -webkit-text-stroke: 1px #00F5A0;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.main__info-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 218%;
  color: white;
  margin-bottom: 64px;
}
 
.line {
  border-bottom: 2px solid #FFFFFF;
}

/* About */
.about__info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 662px;
  height: 145px;
  margin-bottom: 36px;
}

.about__title-text {
  color: white;
  font-weight: 700;
  font-size: 80px;
  line-height: 75px;
  margin-right: 108px;
}

.about__title-symbols {
  color: #00F5A0;
  font-weight: 700;
  font-size: 128px;
  line-height: 145px;
}

.about__info-left {
  display: flex;
}

.left__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  height: 548px;
  background-color: #00F5A0;
  overflow: hidden;
}

.left__skills p {
  font-weight: 700;
  font-size: 96px;
  line-height: 143px;
}

.left__skills p:nth-child(2) {
  font-family: sans-serif;
  font-style: italic;
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: transparent;
}

.left__img {
  position: absolute;
  left: 192px;
  padding-top: 60px;
  z-index: -1;
}

.about__info-right {
  width: 400px;
  height: 625px;
}

.right__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 48px;
}

.right__skills {
  width: 400px;
  height: 385px;
}

.right__skills-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 75px;
  color: #fff;
}

.right__skills-title span {
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  color: #00F5A0;
  margin-right: 16px;
}

.right__skills-desc {
  color: #fff;
  padding-left: 54px;
  margin-bottom: 16px;
}

.right__skills-desc:last-child {
  margin-bottom: 0;
}




/* --------- Responsive Design --------- */
@media (max-width: 575px) {
    .container {
      width: 380px;
    }

    .header {
      margin-bottom: 52px;
    }

    .navbar {
        height: 64px;
        padding: 0 0 0 24px;
        margin-bottom: 114px;
    }

    .logo img {
        width: 85px;        
    }

    .menu__button {
        width: 105px;
        height: 64px;
    }

    .menu__form-button {
        display: none;
    }

    .main__title {
        margin-bottom: 48px;
    }

    .main__title-static {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }

    .main__title-animation {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        animation: animate-alt 2.5s infinite linear;
    }

    .main__text {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .main__text-animation {
        width: 430%;
    }

    .main__text p {
        font-size: 40px;
        line-height: 48px;
        word-spacing: 25px;
        -webkit-text-stroke: 1px white;
    }

    .main__info {
        width: 380px;
        margin-bottom: 75px;
    }

    .main__info-text {
        font-size: 16px;
        line-height: 260%;
        margin-bottom: 65px;
    }

    .btn-text {
        font-size: 16px;
        line-height: 19px;
    }
    
    .starlet {
        display: none;
      }
    
    .about__title {
      width: 237px;
      height: 44px;
      margin-bottom: 48px;
    }

    .about__title-text {
      font-size: 36px;
      line-height: 44px;
      margin-right: 40px;
    }

    .about__title-symbols {
      font-size: 36px;
      line-height: 44px;
    }


    .left__skills {
      width: 77px;
      height: 241px;
      justify-content: space-evenly;
    }

    .left__skills p {
      font-size: 42px;
      line-height: 51px;
    }

    .left__skills p:nth-child(2) {
      -webkit-text-stroke: 1px #000;
    }

    .left__img {
      width: 150px;
      left: 27px;
      padding-top: 40px;
    }

    .about__info-right {
      padding-left: 110px;
    }
    
    .right__text {
      width: 178px;
      height: 264px;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }

    .right__skills {
      margin-left: -185px;
    }

    .right__skills-title {
      font-size: 16px;
      line-height: 24px
    }
    
    .right__skills-title span {
      font-size: 24px;
      line-height: 75px;
      margin-right: 9px;
    }

    .right__skills-desc {
      padding-left: 30px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }

}







@keyframes animate {
  0%, 10%, 100% {
    border-color: #00F5A0;
    width: 0%;
  }
  70%, 90% {
    width: 320px;
  }
}

@keyframes animate-alt {
    0%, 10%, 100% {
      border-color: #00F5A0;
      width: 0%;
    }
    70%, 90% {
      width: 150px;
    }
  }

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}