@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color: #000;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.btn-text {
  color: #00f5a0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

/* Header */

.header {
  width: 100%;
  margin-bottom: 104px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  padding: 0 0 0 45px;
  margin-bottom: 140px;
  border-bottom: 1px solid #fff;
}

.logo {
  display: block;
}

.logo img {
  width: 120px;
}

.menu {
  display: flex;
}

.menu__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 90px;
  border-left: 1px solid #fff;
  text-decoration: none;
}

.menu__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 90px;
  border-left: 1px solid #fff;
}

.hamburger {
  display: block;
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger__line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.main {
    position: relative;
}

.main__title {
  display: flex;
  margin-bottom: 64px;
}

.main__title-static {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: white;
  white-space: nowrap;
}

.main__title-static .green {
  color:#00F5A0;
}

.main__title-animation {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  overflow: hidden;
  color: white;
  border-right: 2px solid #00F5A0;
  animation: animate 2.5s infinite linear;
}

.main__text {
  height: 116px;
  margin-right:-180px;
  margin-left:-180px;
  overflow: hidden;
  margin-bottom: 92px;
}

.main__text-animation {
  display: flex;
  width: 280%;
  animation: marquee-infinite 7s linear infinite;
}

.main__text p {
  font-family: sans-serif;
  white-space: nowrap;
  width: 100%;
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  word-spacing: 96px;
  -webkit-text-stroke: 2px white;
}

.main__info {
  position: relative;
  width: 580px;
  margin-bottom: 122px;
}

.starlet {
  position: absolute;
  left: -40px;
  top: 315px;
  color: #00F5A0;
  font-weight: 700;
  font-size: 128px;
  line-height: 155px;
  -webkit-text-stroke: 1px #00F5A0;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.main__info-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 218%;
  color: white;
  margin-bottom: 64px;
}
 
.line {
  border-bottom: 2px solid #FFFFFF;
}

/* About */
.about__info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 662px;
  height: 145px;
  margin-bottom: 36px;
}

.about__title-text {
  color: white;
  font-weight: 700;
  font-size: 80px;
  line-height: 75px;
  margin-right: 108px;
}

.about__title-symbols {
  color: #00F5A0;
  font-weight: 700;
  font-size: 128px;
  line-height: 145px;
}

.about__info-left {
  display: flex;
}

.left__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  height: 548px;
  background-color: #00F5A0;
  overflow: hidden;
}

.left__skills p {
  font-weight: 700;
  font-size: 96px;
  line-height: 143px;
}

.left__skills p:nth-child(2) {
  font-family: sans-serif;
  font-style: italic;
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: transparent;
}

.left__img {
  position: absolute;
  left: 192px;
  padding-top: 60px;
  z-index: -1;
}

.about__info-right {
  width: 400px;
  height: 625px;
}

.right__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 48px;
}

.right__skills {
  width: 400px;
  height: 385px;
}

.right__skills-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 75px;
  color: #fff;
}

.right__skills-title span {
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  color: #00F5A0;
  margin-right: 16px;
}

.right__skills-desc {
  color: #fff;
  padding-left: 54px;
  margin-bottom: 16px;
}

.right__skills-desc:last-child {
  margin-bottom: 0;
}




/* --------- Responsive Design --------- */
@media (max-width: 575px) {
  .container {
    width: 327px;

  }
  .header {
    margin-bottom: 42px;
  }
  .navbar {
    height: 49px;
    padding: 0 0 0 24px;
    margin-bottom: 56px;
  }
  .logo img {
    width: 70px;
  }
  .menu__button {
    width: 80px;
    height: 49px;
  }
  .hamburger {
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  .hamburger__line {
    display: block;
    height: 2px;
    width: 80%;
    border-radius: 10px;
    background: #fff;
  }
  .main__title {
    margin-bottom: 32px;
  }
  .main__text {
    height: 48px;
    margin-bottom: 32px;
  }
  .main__text-animation {
    width: 315%;
  }
  .main__info {
    width: 327px;
    margin-bottom: 48px;
  }
  .main__info-text {
    font-size: 14px;
    line-height: 240%;
    height: 102px;
    width: 327px;
    margin-bottom: 185px;
  }
  .starlet {
    font-size: 600px;
    line-height: 726px;
    left: 180px;
    top: 85px;
  }
  .about__title {
    width: 160px;
    height: 44px;
    margin-bottom: 29px;
    justify-content: unset;
  }
  .about__title-text {
    white-space: nowrap;
  }
  .left__skills {
    width: 64px;
  }
  .left__img {
    width: 152px;
    height: 239px;
    left: 0;
    top: 57px;
    padding: 0;
  }
  .right__text {
    width: 151px;
    height: 260px;
    font-weight: 600;
    line-height: 140%;
    margin: 42px 24px 0 24px;
  }
  .right__skills {
    margin-left: -147px;
    width: 327px;
  }
  .right__skills-desc {
    padding-left: 26px;
    font-size: 11px;
  }
}







@keyframes animate {
  0%, 10%, 100% {
    border-color: #00F5A0;
    width: 0%;
  }
  70%, 90% {
    width: 320px;
  }
}

@keyframes animate-alt {
    0%, 10%, 100% {
      border-color: #00F5A0;
      width: 0%;
    }
    70%, 90% {
      width: 150px;
    }
  }

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}